{% extends "base.html" %}
<!---->
{% block content %}
<div class="container">
  <style>
    .card-hover {
      transition: transform 0.3s, box-shadow 0.3s;
    }

    .card-hover:hover {
      transform: translateY(-10px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
    .card-wrapper {
      padding: 15px; /* Adjust padding here */
    }

    .row {
      margin: -15px; /* Remove margin to compensate for padding */
    }

    .col-lg-3,
    .col-md-4,
    .col-sm-6 {
      padding: 15px; /* Adjust padding here */
    }
  </style>
  <div class="row">
    {% for i in list %}
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card card-hover card-wrapper" style="width: 100%;">
          <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/454392636_1151955572580260_4686874334420509841_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=0024fc&_nc_ohc=W7ooOEzPMTYQ7kNvgF7wsON&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_Q7cD1QFBtO9JBhBcjni2aKEEZwtc1H3IEySY-ethJSx9E2Xl5g&oe=66E2970D" class="card-img" alt="" />
          <div class="card-body">
            <h5 class="card-title">รูปคู่</h5>
            <p class="card-text">(รูปคู่)</p>
            <a href="#" class="btn btn-primary">READ</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
